@model PrescriptionDetailsVIewModel

@{
  ViewData["Title"] = "Details";
}

<div class="row">
  @if (Model.PreviousPrescriptionId.HasValue)
  {
    <a asp-action="Details" asp-route-id="@Model.PreviousPrescriptionId.Value">Previous</a>
  }
  <h1>Details</h1>
  @if (Model.NextPrescriptionId.HasValue)
  {
    <a asp-action="Details" asp-route-id="@Model.NextPrescriptionId.Value">Next</a>
  }
</div>
<div class="row" id="message">
  @if (!string.IsNullOrWhiteSpace(Model.Message))
  {
    var @class = Model.MessageType == "s" ? "success" : "alert";
    <span class="@@class">@Model.Message</span>
  }
</div>

<div>
  <hr/>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.User.PharmacyName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.User.PharmacyName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Buyer)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Buyer)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.SaleTime)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.SaleTime)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.User)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.User.Username)
    </dd>
    <dt class="col-sm-2">
      Total Price
    </dt>
    <dd class="col-sm-10">
      @Model.Medicine.Sum(med => med.Amount*med.Price)
    </dd>
  </dl>
  <table class="table table-responsive table-striped" id="medicine-table">
    <thead>
      <tr>
        <th>Medicine Name</th>
        <th>Amount</th>
        <th>Price per unit</th>
        <th>Stockpile</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var medicine in Model.Medicine)
    {
      <tr>
        <td>
          @medicine.Name
        </td>
        <td>
          @medicine.Amount
        </td>
        <td>
          @medicine.Price
        </td>
        <td>
          @medicine.InStockpile
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
<div>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Create", "Create") |
  <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
  <a asp-action="Fulfill" asp-route-id="@Model.Id">Fulfill Prescription</a>
</div>


<style>
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .success {
    padding: 20px;
    background-color: greenyellow; /* Red */
    color: white;
    margin-bottom: 15px;
  }
</style>